h1 {
	color: red;
	text-align: center;
}
body {
	background-image: url(images/darkhall.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	
}
.cen {
	
}
.mainimg {
	width: 100%;
}
.sides {
	
}
#show-calendar {
	float: right;
}
#fb-calendar{
	float:right;
}

.header-text{
	color: white;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
footer{
	color: darkgray;
	text-align: center;
	background-color: black;
}
.construction {
	/*float: left;*/
}
.footerdiv {
	background-color: darkgrey;
	position: fixed; bottom: 0%; 
	width: 100%;
	
}