h1 {
	color:666666;
	text-align: center;
	text-shadow: 2px 2px black;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/*Background not working since updating dependencies and relocating stylesheet*/
body {
	background-image: url('/images/darkhall.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	
}
.nav-fixed{
	width:100%;
	position:fixed;
	z-index: 10;
}
.auto{
	margin-right:auto;
	margin-left:auto;
	width: 80%;
}
.center {
	text-align: center;
}
.mainimg {
	width: 100%;
}

#show-calendar {
	float: right;
}
#fb-calendar{
	float:right;
}

.header-text{
	color: white;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
footer{
	color: darkgray;
	text-align: center;
	background-color: black;
}
.construction {
	/*float: left;*/
}
.footerdiv {
	background-color: darkgrey;
	position: fixed; bottom: 0%; 
	width: 100%;
	
}

